.whole-dashboard{
    height: 100%;
    background-color: rgb(227, 225, 225);
    font-family: "Roboto", sans-serif;
}


@media (max-width: 767px) /* and (orientation: landscape) */{
    .whole-dashboard{
        height: calc(100vh + 1500px);
    }

    .mobile-version{
        display: flex;
        flex-direction: column;
        margin: 10px;
    }
}