.whole-person-dashboard{
    display: flex;
    flex-direction: column;
    width: 420px;
    margin: 19px;
    margin-top: 20px;
    height: 380px;
    background-color: white;
    padding: 20px;
}

.person-title{
   display: flex;
   align-items: center;
   margin-bottom: 30px;
   img{
    width: 30px;
   }
   p{
    display: flex;
    margin-left: 10px;
    font-size: 20px;
   }
}


.person-data{
    font-size: 13px;
}

@media (max-width:767px) {
    .whole-person-dashboard{
        width: 90%;
        height: 250px;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .person-title{
        margin: 4px;
    }

    .person-data{
        margin: 8px;
    }
}